/* src/ExpandableMenuItem.css */
.menu-item {
    padding: 10px;
    color: #fff;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
  }
  
  .menu-item.expanded {
    /* background-color: #555; */
  }
  
  .icon {
    width: 40px;
    /* Largura fixa para o ícone */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
  
  .description {
    margin-left: 10px;
    display: none;
  }
  
  .expanded .description {
    display: block;
  }
  